
        /*
        * Base structure
        */

        /* Move down content because we have a fixed navbar that is 3.5rem tall */
        body {
            padding-top: 3.5rem;
            }
    
            /*
            * Sidebar
            */
    
            .sidebar {
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            padding-top: 0;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            border-right: 1px solid #eee;
            }
    
            .sidebar .nav {
            margin-bottom: 20px;
            }
    
            .sidebar .nav-item {
            width: 100%;
            }
    
            .sidebar .nav-item + .nav-item {
            margin-left: 0;
            }
    
            .sidebar .button {
            padding:0;
            height:34px;
            width:34px;
            line-height:34px;
            font-size:20px;
            margin:10px 5px 0px 5px;
            }
    
            /*
            * Sidebar2
            */
    
            .sidebar2 {
            width: 200px;
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 45px;
            z-index: 1000;
            padding: 0px 5px 0px 5px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            border-right: 1px solid #eee;
            }
            
            .sidebar2 .title {
            padding:10px 0px 0px 5px;
            }
            .sidebar2 .item {
            padding-left:20px;
            }
    
            .sidebar2 hr {
            margin:5px;
            }
            
            /*
            * Sidebar2
            */
    
            .main {
            padding:10px 20px 0 270px;
            }
            .ch-title {
            font-size:10px;
            }
            .it-title {
            font-size:14px;
            padding:4px 0px 4px 8px;
            margin:0px;
            }
            .item {
            font-size:14px;
            padding:4px 0px 4px 8px;
            margin:0px;
            }